main{
  
}

.TablesCont{
  margin-top: 2rem;
-webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
padding: 10px;
border-radius: 10px;
  width: 80%;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
}

li{
  list-style: none;
}