#item-cont {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: 2rem;
    background-color: #f4e0bc;
    border-radius: 10px;
    padding: 10px;
    border: solid 3px grey;
}

#HomePajeFotos {
  width: 100%;
}

.itemsObjConteiner, img {
  width: 83%;
  border-radius: 5px;
}

h2 {
  font-size: 15px;
  margin: 10px 0;
}

p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.Price {
  font-weight: bold;
  color: #27ae60;
}

