.navigation-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Toggle Icon */
.menu-icon {
  
  font-size: 28px;
  
  cursor: pointer;
  display: none;
}

/* Menu Links Default - Desktop */
.menu-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    z-index: 9999;
  }

  .menu-links {
    border:solid 1px red;
    height: 200px;
    background-color: white;
  flex-direction: column;
    margin-top: 27rem;
    padding: 1rem;
    display: none;
    border-radius: 0 0 10px 10px;
     z-index: 9999;
  }

  .menu-links.open {
    display: flex;
  }
}

.navigation {
  color: black;
  
  font-weight: 500;
}

.navigation:hover {
  text-decoration: underline;
}