.navigation-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}

/* Toggle Icon */
.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/* Menu Links Default - Desktop */
.menu-links {
  display: flex;
  margin:auto;
  gap: 1rem;
  font-size: 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    z-index: 9999;
  }

  .menu-links {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color:  #FAF3E0;
    margin-top: 24rem;
    display: none;
    border-radius: 0 0 10px 10px;
     z-index: 9999;
     padding: 10px;
     top: -20rem;
     
  }

.navigation-cont{
  justify-content: space-around;
}

  .menu-links.open {
    display: flex;
  }
}

.navigation {
  color: black;
  
  font-weight: 500;
}

.navigation:hover {
  text-decoration: underline;
}